<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">


    <listener>

        <listener-class>com.servlets.DependencyLoaderListener</listener-class>
    </listener>

    <servlet>

        <servlet-name>PingServlet</servlet-name>
        <servlet-class>com.servlets.PingServlet</servlet-class>
    </servlet>
    <servlet-mapping>

        <servlet-name> PingServlet</servlet-name>
        <url-pattern>/Ping</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.servlets.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/createuser</url-pattern>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>

    <servlet>

        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class> com.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>

    </servlet-mapping>




</web-app>